
__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/

*.egg-info/
*.egg

build/
dist/
*.pyc
*.pyo

.env
*.env
/api/config.toml

*.log

.idea/
.vscode/

htmlcov/
.coverage
*.cover
*.py,cover

.tox/
.pytest_cache/
pip-wheel-metadata/

openapi.json
